@use 'sass:map';
@use 'assets/css/theme/index' as *;

@function getThemeColors($color) {
  $themeColors: ();

  @each $theme, $prop in $themes {
    $theme-colors: map.get($prop, 'colors');

    $themeColors: map.set(
      $themeColors,
      $theme,
      map.get($theme-colors, $color)
    ); //  primary -> ( "dark": #123212)
  }

  @return $themeColors;
}
