@use 'functions/index' as fn;
@use './mixins/index' as mx;
@use './variables' as vars;
@use './fonts';

body {
  margin: 0;
  font-family: vars.$quicksand;
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
  }
}

a {
  @include mx.prop('color', 'text');
  text-decoration: none;
}

p {
  margin: 0;
}
